// Documentation
// -----------------------------------------------------------------------------

// Root
.patterns-docs {
  h2:not(:first-child) {
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.25rem;
    padding-top: 1.25rem;
  }

  h4 {
    font-size: 1rem;
    padding-top: 1rem;
  }

  h2,
  h3,
  h4 {
    + ul {
      padding-top: 10px;
    }
  }
}


// Header
.patterns-header {
  background-color: #563d7c;
  color: #fff;
  font-size: 14px;
  left: 0;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  nav {

  }

  .nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      + li {
        margin-left: 1rem;
      }
    }
    a {
      color: #fff;
      &:hover {
        color: #cdbfe3;
        text-decoration: none;
      }
      &:visited {
        text-decoration: none;
      }
    }
  }

  .nav-meta {
    text-align: right;
  }
}


// Main content
.patterns-main {
  padding: 85px 0 25px 0;
}


// Footer
.patterns-footer {
  background-color: #f7f7f7;
  color: #818a91;
  font-size: 85%;
  padding: 2rem 0 1rem 0;

  small { font-size: 100%; }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}


// Headset
.patterns-headset {
  border-bottom: #f7f7f9 solid .2rem;
  padding: 0 0 20px 0;
}


// Title
.patterns-title {
  margin-bottom: 1.5rem;
  > sup {
    background-color: #eee;
    border-radius: .25rem;
    color: #0275d8;
    font-size: 11px;
    padding: 2px 3px;
    position: relative;
    top: -1.5rem;
    &.false {
      color: #999;
      text-decoration: line-through;
    }
    + sup {
      margin-left: -5px;
    }
  }
}


// Description
.patterns-description {
  padding-bottom: 10px;
}


// Demo
.patterns-demo {
  padding-bottom: 15px;
  padding-top: 50px;
  position: relative;

  h2 {
    margin-bottom: 2.5rem;
    // &::after {
    //   background-color: #563d7c;
    //   content: "";
    //   display: block;
    //   height: 3px;
    //   position: relative;
    //   top: 1px;
    //   width: 88px;
    // }
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}


// Example
.patterns-example {
  @include clearfix;
  border: solid #f7f7f9;
  border-width: .2rem;
  margin: 1rem 0 0 0;
  padding: 1.5rem;
  position: relative;

  & + .patterns-highlight {
    margin-top: 0;
  }
}


// Table
.patterns-table {
  th,
  td {
    padding: 2px 0;
  }
  th {
    font-weight: normal;
    width: 160px;
  }
  td {
    > i {
      font-style: normal;
      margin-right: 15px;
    }
  }
}

// Remark & issue
.patterns-remark,
.patterns-issue {
  background-color: #eee;
  border-radius: .25rem;
  color: #999;
  font-style: normal;
  font-size: 12px;
  margin-left: 5px;
  padding: 1px 4px;
}


// Remark
.patterns-remark {
  color: #999;
}

// Issues
.patterns-issue {
  background-color: transparent;
  font-style: italic;
}

.is-todo       { color: #1c86ee; }
.is-inprogress { color: green; }
.is-testing    { color: #bc00f0; }
.is-completed  { color: #000; }


// Hightlight
.patterns-highlight {
  background-color: #f7f7f9;
  margin: 1rem -1rem;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem;

  pre {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;

    code {
      color: #373a3c;
      font-size: inherit;
    }
  }
}

.nt {
  color: #2f6f9f;
}

code,
pre {
  font-family: Menlo, Monaco,Consolas, "Courier New", monospace;
}

code {
  background-color: $code-bg;
  border-radius: .25rem;
  color: $code-color;
  font-size: 90%;
  padding: .2rem .4rem;
}


// Background colors
.background-001 { background-color: yellowgreen; }
.background-002 { background-color: skyblue; }
.background-003 { background-color: pink; }
.background-004 { background-color: #ccc; }
