// Buttons

// Prototype     : Bootstrap
// Documentation : http://v4-alpha.getbootstrap.com/components/buttons/
// Component     : https://github.com/twbs/bootstrap/blob/v4-dev/scss/_buttons.scss
// Mixin         : https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_buttons.scss
// CSS prefix    : .btn-
// -----------------------------------------------------------------------------

// Base styles
.btn {
  border: $border-width solid transparent;
  border-radius: $btn-border-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $btn-font-weight;
  line-height: $line-height;
  padding: $btn-padding-y $btn-padding-x;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
