// Scroll-to
// -----------------------------------------------------------------------------

// Demo
.anchor-group {
  border-bottom: #ccc solid 1px;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
