// Scroll-to
// -----------------------------------------------------------------------------

// Demo
.anchor-group {
  border-bottom: #ccc solid 1px;
  margin-bottom: 25px;
  padding: 30px 0 10px 0;
}
