// Sticky element

// Plugin        : Sticky
// Documentation : http://stickyjs.com/
// Repository    : https://github.com/garand/sticky
// CSS prefix    : No
// -----------------------------------------------------------------------------

// Dummy
.sticky-element {
  background-color: green;
  display: block;
  height: 100px;
  padding: 15px;
  width: 100px;
}
