<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Alerts · Components · ahomiya.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <h1>Alerts</h1>
    <ul>
      <li>Prototype: Bootstrap</li>
      <li><a href="http://v4-alpha.getbootstrap.com/components/button-group/" target="_blank">Documentation</a></li>
      <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_alert.scss" target="_blank">Mixin</a></li>
      <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_alert.scss" target="_blank">Component</a></li>
    </ul>

    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
  </body>
</html>
