<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Breadcrumb · Components · ahomiya.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <h1>Breadcrumb</h1>
    <ul>
      <li>Prototype: Bootstrap</li>
      <li><a href="http://v4-alpha.getbootstrap.com/components/breadcrumb/" target="_blank">Documentation</a></li>
      <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_breadcrumb.scss" target="_blank">Component</a></li>
    </ul>

    <ol class="breadcrumb" style="margin-bottom: 5px;">
      <li><a href="#">Home</a></li>
      <li><a href="#">Library</a></li>
      <li class="active">Data</li>
    </ol>

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
  </body>
</html>
