<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Responsive Equal Height · Onigiri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body class="patterns-docs">
    <!-- Header -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <nav>
              <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="http://github.com/ahomiya/patterns-patterns" target="_blank">GitHub</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6">
            <div class="nav-meta">おにぎり Patterns</div>
          </div>
        </div>
      </div>
    </header>
    <!-- /Header -->

    <!-- Main content -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Headset -->
            <div class="patterns-headset">
              <h1 class="patterns-title">Responsive Equal Height <sup class="ture">jQuery</sup> <sup class="false">CSS</sup></h1>
              <div class="patterns-description">
                <p><strong>matchHeight</strong> makes the height of all selected elements exactly equal.</p>
              </div>
              <table class="patterns-table">
                <tbody>
                  <tr>
                    <th scope="col">Plugin</th>
                    <td><i>:</i>jquery.matchHeight.js</td>
                  </tr>
                  <tr>
                    <th scope="col">Required library</th>
                    <td><i>:</i>jQuery</td>
                  </tr>
                  <tr>
                    <th scope="col">Required CSS</th>
                    <td><i>:</i><code>false</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Documentation</th>
                    <td><i>:</i><a href="http://brm.io/jquery-match-height/" target="_blank">http://brm.io/jquery-match-height/</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Demo</th>
                    <td><i>:</i><a href="http://brm.io/jquery-match-height-demo" target="_blank">http://brm.io/jquery-match-height-demo</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Repository</th>
                    <td><i>:</i><a href="https://github.com/liabru/jquery-match-height" target="_blank">https://github.com/liabru/jquery-match-height</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Issues</th>
                    <td><i>:</i><a href="https://github.com/liabru/jquery-match-height/issues" target="_blank">https://github.com/liabru/jquery-match-height/issues</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Bower</th>
                    <td><i>:</i><code>bower install matchheight --save</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Last updated</th>
                    <td><i>:</i>2015.09.13 by me@ahomiya.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /Headset -->

            <!-- Demo -->
            <h2>Demo</h2>
            <div class="patterns-example">
              <div class="equalheight">
                <div class="equalheight-item background-001">
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>

                <div class="equalheight-item background-002">
                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>

                <div class="equalheight-item background-003">
                  <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>

                <div class="equalheight-item background-004">
                  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
                  <p><img class="responsive-image" src="../img/dummy/pix-001.jpg" alt=""></p>
                </div>
              </div>
            </div>
            <!-- /Demo -->
          </div>
        </div>
      </div>
    </main>
    <!-- /Main content -->

    <!-- Footer -->
    <footer role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><strong>Onigiri Patterns</strong></p>
            <p>Designed and built with all the love in the world by ahomiya.com.<br> Maintained by <a href="mailto:&#104;&#097;&#116;&#115;&#117;&#107;&#111;&#105;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Hatsukoi</a> &amp; <a href="mailto:&#107;&#097;&#105;&#046;&#115;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Kai.S</a></p>
            <p><small><a href="http://www.ahomiya.com">ahomiya.com</a> © 2015</small></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/vendor/libraries.plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
    <script>
      $(document).ready(function() {

        /*
         * Plugin        : jquery.matchHeight.js
         * Documentation : http://brm.io/jquery-match-height/
         * Demo          : http://brm.io/jquery-match-height-demo
         * Repository    : https://github.com/liabru/jquery-match-height
         */
        $('.equalheight-item').matchHeight({
          byRow    : true,
          property : 'height',
          target   : null,
          remove   : false
        });

      });
    </script>
  </body>
</html>
