<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Off-canvas menu · Onigiri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <!-- Page wrapper -->
    <div>
      <!-- Header -->
      <header class="patterns-header">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <nav>
                <ul class="nav-menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="http://github.com/ahomiya/patterns-patterns" target="_blank">GitHub</a></li>
                  <li><a href="#offcanvas-menu">Off-canvas menu toggle</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-6">
              <div class="nav-meta">おにぎり Patterns</div>
            </div>
          </div>
        </div>
      </header>
      <!-- /Header -->

      <!-- Main content -->
      <main class="patterns-main">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- Headset -->
              <div class="patterns-headset">
                <h1 class="patterns-title">Off-canvas menu <sup class="ture">jQuery</sup> <sup class="true">CSS</sup></h1>
                <div class="patterns-description">
                  <p>Animated scrolling.</p>
                </div>
                <table class="patterns-table">
                  <tbody>
                    <tr>
                      <th scope="col">Plugin</th>
                      <td><i>:</i>jQuery.mmenu</td>
                    </tr>
                    <tr>
                      <th scope="col">Required library</th>
                      <td><i>:</i>jQuery</td>
                    </tr>
                    <tr>
                      <th scope="col">Required CSS</th>
                      <td><i>:</i><code>true</code></td>
                    </tr>
                    <tr>
                      <th scope="col">Documentation</th>
                      <td><i>:</i><a href="http://mmenu.frebsite.nl" target="_blank">http://mmenu.frebsite.nl</a></td>
                    </tr>
                    <tr>
                      <th scope="col">Repository</th>
                      <td><i>:</i><a href="https://github.com/BeSite/jQuery.mmenu" target="_blank">https://github.com/BeSite/jQuery.mmenu</a></td>
                    </tr>
                    <tr>
                      <th scope="col">Bower</th>
                      <td><i>:</i><code>bower install jQuery.mmenu --save</code></td>
                    </tr>
                    <tr>
                      <th scope="col">Last updated</th>
                      <td><i>:</i>2015.10.11 by me@ahomiya.com</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /Headset -->

              <!-- Demo -->
              <div class="patterns-demo">
                <h2>Demo</h2>

                <h3>What is Lorem Ipsum?</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                <h3>Where does it come from?</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                <p><img src="../img/demo/pix-001.jpg" alt=""></p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

                <h3>Who do we us it?</h3>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

                <h3>Where can I get some?</h3>
                <p><img src="../img/demo/pix-002.jpg" alt=""></p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
              </div>
              <!-- /Demo -->
            </div>
          </div>
        </div>
      </main>
      <!-- /Main content -->

      <!-- Footer -->
      <footer class="patterns-footer" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p><strong>Onigiri Patterns</strong></p>
              <p>Designed and built with all the love in the world by ahomiya.com.<br> Maintained by <a href="mailto:&#104;&#097;&#116;&#115;&#117;&#107;&#111;&#105;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Hatsukoi</a> &amp; <a href="mailto:&#107;&#097;&#105;&#046;&#115;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Kai.S</a></p>
              <p><small><a href="http://www.ahomiya.com">ahomiya.com</a> © 2015</small></p>
            </div>
          </div>
        </div>
      </footer>
      <!-- /Footer -->
    </div>
    <!-- /Page wrapper -->

    <!-- Off-canvas menu -->
    <nav id="offcanvas-menu">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <!-- /Off-canvas menu -->

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/vendor/libraries.plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
    <script>
      $(document).ready(function() {

        /**
         * Plugin        : jQuery.mmenu
         * Documentation : http://mmenu.frebsite.nl
         * Repository    : https://github.com/BeSite/jQuery.mmenu
         */
        $('#offcanvas-menu').mmenu({
          offCanvas: {
            position: 'left'
          }
        });

      });
    </script>
  </body>
</html>
