<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Selectmenu · Onigiri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="patterns-header">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <nav>
              <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="http://github.com/ahomiya/patterns-patterns" target="_blank">GitHub</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6">
            <div class="nav-meta">おにぎり Patterns</div>
          </div>
        </div>
      </div>
    </header>
    <!-- /Header -->

    <!-- Main content -->
    <main class="patterns-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Headset -->
            <div class="patterns-headset">
              <h1 class="patterns-title">Selectmenu <sup class="ture">jQuery</sup> <sup class="true">CSS</sup></h1>
              <table class="patterns-table">
                <tbody>
                  <tr>
                    <th scope="col">Plugin</th>
                    <td><i>:</i>jQuery UI - Accordion</td>
                  </tr>
                  <tr>
                    <th scope="col">Required library</th>
                    <td><i>:</i>jQuery</td>
                  </tr>
                  <tr>
                    <th scope="col">Required dependency</th>
                    <td><i>:</i>jQuery UI - Core, jQuery UI - Widget</td>
                  </tr>
                  <tr>
                    <th scope="col">Required CSS</th>
                    <td><i>:</i><code>true</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Theme</th>
                    <td><i>:</i><code>true</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Responsiveness</th>
                    <td><i>:</i><code>true</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Documentation</th>
                    <td><i>:</i><a href="https://jqueryui.com/selectmenu/" target="_blank">https://jqueryui.com/selectmenu/</a></td>
                  </tr>
                  <tr>
                    <th scope="col">API</th>
                    <td><i>:</i><a href="http://api.jqueryui.com/selectmenu/" target="_blank">http://api.jqueryui.com/selectmenu/</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Repository</th>
                    <td><i>:</i><a href="https://github.com/jquery/jquery-ui" target="_blank">https://github.com/jquery/jquery-ui</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Bower</th>
                    <td><i>:</i><code>bower install jquery.ui --save</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Version</th>
                    <td><i>:</i>1.11.4</td>
                  </tr>
                  <tr>
                    <th scope="col">Last updated</th>
                    <td><i>:</i>2015.09.21 by me@ahomiya.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /Headset -->

            <!-- Demo -->
            <div class="patterns-demo">
              <h2>Demo</h2>

              <!-- Demo wrapper -->
              <div style="margin-bottom: 25px">

                <!-- Component -->
                <div><code>&lt; Component /&gt;</code></div>
                <!-- /Component -->

              </div>
              <!-- /Demo wrapper -->

              <!-- Demo helper -->
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <!-- /Demo helper -->
            </div>
            <!-- /Demo -->
          </div>
        </div>
      </div>
    </main>
    <!-- /Main content -->

    <!-- Footer -->
    <footer class="patterns-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><strong>Onigiri Patterns</strong></p>
            <p>Designed and built with all the love in the world by ahomiya.com.<br> Maintained by <a href="mailto:&#104;&#097;&#116;&#115;&#117;&#107;&#111;&#105;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Hatsukoi</a> &amp; <a href="mailto:&#107;&#097;&#105;&#046;&#115;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Kai.S</a></p>
            <p><small><a href="http://www.ahomiya.com">ahomiya.com</a> © 2015</small></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/vendor/libraries.plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
    <script>
      $(document).ready(function() {

        /**
         * Plugin        : jQuery UI - Selectmenu
         * Documentation : https://jqueryui.com/selectmenu/
         * API           : http://api.jqueryui.com/selectmenu/
         * Repository    : https://github.com/jquery/jquery-ui
         */

      });
    </script>
  </body>
</html>
