<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tabs · Onigiri</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="patterns-header">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <nav>
              <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="http://github.com/ahomiya/patterns-patterns" target="_blank">GitHub</a></li>
              </ul>
            </nav>
          </div>
          <div class="col-6">
            <div class="nav-meta">おにぎり Patterns</div>
          </div>
        </div>
      </div>
    </header>
    <!-- /Header -->

    <!-- Main content -->
    <main class="patterns-main">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Headset -->
            <div class="patterns-headset">
              <h1 class="patterns-title">Tabs <sup class="ture">jQuery</sup> <sup class="true">CSS</sup></h1>
              <div class="patterns-description">
                <p>A single content area with multiple panels, each associated with a header in a list.</p>
              </div>
              <table class="patterns-table">
                <tbody>
                  <tr>
                    <th scope="col">Plugin</th>
                    <td><i>:</i>jQuery UI - Tabs</td>
                  </tr>
                  <tr>
                    <th scope="col">Required library</th>
                    <td><i>:</i>jQuery</td>
                  </tr>
                  <tr>
                    <th scope="col">Required dependency</th>
                    <td><i>:</i>jQuery UI - Core, jQuery UI - Widget</td>
                  </tr>
                  <tr>
                    <th scope="col">Required CSS</th>
                    <td><i>:</i><code>true</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Theme</th>
                    <td><i>:</i><code>true</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Responsiveness</th>
                    <td><i>:</i><code>false</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Documentation</th>
                    <td><i>:</i><a href="https://jqueryui.com/tabs/" target="_blank">https://jqueryui.com/tabs/</a></td>
                  </tr>
                  <tr>
                    <th scope="col">API</th>
                    <td><i>:</i><a href="http://api.jqueryui.com/tabs/" target="_blank">http://api.jqueryui.com/tabs/</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Repository</th>
                    <td><i>:</i><a href="https://github.com/jquery/jquery-ui" target="_blank">https://github.com/jquery/jquery-ui</a></td>
                  </tr>
                  <tr>
                    <th scope="col">Bower</th>
                    <td><i>:</i><code>bower install jquery.ui --save</code></td>
                  </tr>
                  <tr>
                    <th scope="col">Version</th>
                    <td><i>:</i>1.11.4</td>
                  </tr>
                  <tr>
                    <th scope="col">Last updated</th>
                    <td><i>:</i>2015.09.20 by me@ahomiya.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /Headset -->

            <!-- Demo -->
            <div class="patterns-demo">
              <h2>Demo</h2>

              <!-- Component -->
              <div id="tabs">
                <ul>
                  <li><a href="#tabs-1">Nunc tincidunt</a></li>
                  <li><a href="#tabs-2">Proin dolor</a></li>
                  <li><a href="#tabs-3">Aenean lacinia</a></li>
                </ul>
                <div id="tabs-1">
                  <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
                  <p><img src="../img/demo/pix-001.jpg" alt="Pix 001"></p>
                </div>
                <div id="tabs-2">
                  <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                </div>
                <div id="tabs-3">
                  <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                  <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                </div>
              </div>
              <!-- /Component -->
            </div>
            <!-- /Demo -->
          </div>
        </div>
      </div>
    </main>
    <!-- /Main content -->

    <!-- Footer -->
    <footer class="patterns-footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p><strong>Onigiri Patterns</strong></p>
            <p>Designed and built with all the love in the world by ahomiya.com.<br> Maintained by <a href="mailto:&#104;&#097;&#116;&#115;&#117;&#107;&#111;&#105;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Hatsukoi</a> &amp; <a href="mailto:&#107;&#097;&#105;&#046;&#115;&#064;&#097;&#104;&#111;&#109;&#105;&#121;&#097;&#046;&#099;&#111;&#109;">Kai.S</a></p>
            <p><small><a href="http://www.ahomiya.com">ahomiya.com</a> © 2015</small></p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/vendor/libraries.plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
    <script>
      $(document).ready(function() {

        /**
         * Plugin     : jQuery UI - Tabs
         * Widget     : https://jqueryui.com/tabs/
         * API        : http://api.jqueryui.com/tabs/
         * Repository : https://github.com/jquery/jquery-ui
         */
        $('#tabs').tabs();

      });
    </script>
  </body>
</html>
