<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tooltip · Components · ahomiya.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body>
    <h1>Tooltip</h1>
    <ul>
      <li>Prototype: Tooltipster</li>
      <li>Bower: tooltipster</li>
      <li><a href="http://iamceege.github.io/tooltipster/" target="_blank">Documentation</a></li>
      <li><a href="https://github.com/iamceege/tooltipster/" target="_blank">Repository</a></li>
    </ul>

    <span data-tooltip="Chiang Mai, Thailand" data-position="right" data-offset-y="0" data-offset-x="0" id="tooltip">Tooltip</span>

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/vendor/libraries.plugins.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
    <script>
      $(document).ready(function() {

        // Plugin        : Tooltipster
        // Documentation : http://iamceege.github.io/tooltipster/
        // Repository    : https://github.com/iamceege/tooltipster/
        $('#tooltip').exists(function(event) {

          $('#tooltip').tooltipster({
            content       : $(this).data('tooltip'),
            position      : $(this).data('position'),
            trigger       : 'hover',
            arrowColor    : '#ededed',
            offsetY       : $(this).data('offset-y'),
            offsetX       : $(this).data('offset-x'),
            animation     : 'fade',
            theme         : 'tooltipster-light',
            contentAsHTML : true
          });

        });

      });
    </script>
  </body>
</html>
