<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Typography · Content · ahomiya.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body class="onigiri-docs">
    <div class="onigiri-container">
      <div class="onigiri-content">
        <!-- Title -->
        <h1 class="onigiri-title">Utility classes</h1>
        <ul>
          <li>Prototype: Bootstrap</li>
          <li><a href="http://v4-alpha.getbootstrap.com/components/utilities/" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities.scss" target="_blank">Component : Utilities</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities-spacing.scss" target="_blank">Component : Utilities - Spacing</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_text-truncate.scss" target="_blank">Mixin : Text truncate</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_center-block.scss" target="_blank">Mixin : Center block</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_pulls.scss" target="_blank">Mixin : Pulls</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_clearfix.scss" target="_blank">Mixin : Clearfix</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss" target="_blank">Mixin : Screen readers</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_hide-text.scss" target="_blank">Mixin : Hide text</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_text-emphasis.scss" target="_blank">Mixin : Text emphasis</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_background-variant.scss" target="_blank">Mixin : Background variants</a></li>
        </ul>
        <!-- /Title -->


      </div>
    </div>

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
  </body>
</html>
