<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Typography · Content · ahomiya.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <!-- Style sheets -->
    <link rel="stylesheet" href="../css/main.css">
    <!-- Utilities -->
    <script src="../js/vendor/libraries.features.js"></script>
  </head>
  <body class="onigiri-docs">
    <div class="onigiri-container">
      <div class="onigiri-content">
        <!-- Title -->
        <h1 class="onigiri-title">Utility classes</h1>
        <ul>
          <li>Prototype: Bootstrap</li>
          <li><a href="http://v4-alpha.getbootstrap.com/components/utilities/" target="_blank">Documentation</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities.scss" target="_blank">Component : Utilities</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities-spacing.scss" target="_blank">Component : Utilities - Spacing</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_text-truncate.scss" target="_blank">Mixin : Text truncate</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_center-block.scss" target="_blank">Mixin : Center block</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_pulls.scss" target="_blank">Mixin : Pulls</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_clearfix.scss" target="_blank">Mixin : Clearfix</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_screen-reader.scss" target="_blank">Mixin : Screen readers</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_hide-text.scss" target="_blank">Mixin : Hide text</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_text-emphasis.scss" target="_blank">Mixin : Text emphasis</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/mixins/_background-variant.scss" target="_blank">Mixin : Background variants</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_close.scss" target="_blank">Mixin : Close</a></li>
          <li><a href="https://github.com/twbs/bootstrap/blob/v4-dev/scss/_responsive-embed.scss" target="_blank">Mixin : Responsive embeds</a></li>
        </ul>
        <!-- /Title -->

        <!-- Spacing -->
        <h2>Spacing</h2>
        <h3>Margin</h3>
        <p>Todo: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities-spacing.scss</p>

        <h3>Padding</h3>
        <p>Todo: https://github.com/twbs/bootstrap/blob/v4-dev/scss/_utilities-spacing.scss</p>
        <!-- /Spacing -->

        <!-- Text alignment -->
        <h2>Text alignment</h2>
        <div class="onigiri-example">
          <p class="text-left">Left aligned text.</p>
          <p class="text-center">Center aligned text.</p>
          <p class="text-right">Right aligned text.</p>
          <p class="text-justify">Justified text.</p>
          <p class="text-nowrap">No wrap text.</p>
        </div>
        <!-- /Text alignment -->

        <!-- Text transform -->
        <h2>Text transform</h2>
        <div class="onigiri-example">
          <p class="text-lowercase">Lowercased text.</p>
          <p class="text-uppercase">Uppercased text.</p>
          <p class="text-capitalize">Capitalized text.</p>
        </div>
        <!-- /Text transform -->

        <!-- Contextual colors and backgrounds -->
        <h2>Contextual colors and backgrounds</h2>
        <div class="onigiri-example">
          <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
          <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
          <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
          <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
        </div>
        <p>Similar to the contextual text color classes, easily set the background of an element to any contextual class.</p>
        <div class="onigiri-example">
          <div class="bg-primary"><p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
          <div class="bg-success"><p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p></div>
          <div class="bg-info"><p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p></div>
          <div class="bg-warning"><p>Etiam porta sem malesuada magna mollis euismod.</p></div>
          <div class="bg-danger"><p>Donec ullamcorper nulla non metus auctor fringilla.</p></div>
        </div>
        <!-- /Contextual colors and backgrounds -->

        <!-- Close icon -->
        <h2>Close icon</h2>
        <div class="onigiri-example">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
        </div>
        <!-- /Close icon -->

        <!-- Floats -->
        <h2>Floats</h2>
        <div class="onigiri-example">
          <div class="clearfix">
            <div class="pull-left">Float left</div>
            <div class="pull-right">Float right</div>
          </div>
        </div>
        <!-- /Floats -->

        <!-- Center content -->
        <h2>Center content</h2>
        <div class="onigiri-example">
          <div class="center-block">Centered block</div>
        </div>
        <!-- /Center content -->

        <!-- Hidden content -->
        <h2>Hidden content</h2>
        <p>Hide any HTML element with the <code>[hidden]</code> attribute.</p>
        <!-- /Hidden content -->

        <!-- Screen readers -->
        <h2>Screen readers</h2>
        <p>Hide an element to all devices except screen readers with <code>.sr-only</code>. Combine <code>.sr-only</code> with <code>.sr-only-focusable</code> to show the element again when it’s focused (e.g. by a keyboard-only user).</p>
        <!-- /Screen readers -->

        <!-- Image replacement -->
        <h2>Image replacement</h2>
        <p>Utilize the <code>.text-hide</code> class or mixin to help replace an element’s text content with a background image.</p>
        <!-- /Image replacement -->

        <!-- Responsive embeds -->
        <h2>Responsive embeds</h2>
        <div class="onigiri-example">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
          </div>
        </div>
        <!-- /Responsive embeds -->
      </div>
    </div>

    <!-- JavaScript -->
    <!--[if lt IE 10]><script src="../js/vendor/libraries.polyfills.js"></script><![endif]-->
    <script src="../js/vendor/libraries.core.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/tracking.js"></script>
  </body>
</html>
